<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		
		<img class="retina hero" src="./images/hero.jpg" alt="" inline>
		<img class="retina t1" src="./images/t1.png" alt="" inline>
		<img class="retina t2" src="./images/t2.png" alt="" inline>
		<img class="retina logos" src="./images/logos.png" alt="" inline>
		<img class="retina footer" src="./images/footer.png" alt="" inline>
		<img class="retina odds" src="./images/odds.png" alt="" inline>

	</div>
	<a id="clicktag" href="#" onclick="javascript:window.open(window.clickTag);"></a>
	<div id="legalBtn"></div>
	<% include ../_common/templates/legal %>
</div>